.Main {
  text-align: center;
  font-style: italic;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.formContainer label {
  font-weight: bold;
  margin-bottom: 5px;
}

.formContainer input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 5px;
}

.formContainer button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.formContainer button:hover {
  background-color: #0056b3;
}
